<!DOCTYPE html>
<html 
lang="it"
data-siteurl="https://adblockplus.org"
dir="ltr"
class="no-js">

  <head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Fai una donazione ad Adblock Plus</title>

  <meta name="description" content="Adblock Plus è un software gratuito e sostenuto dalla comunità, e questo senza il vostro supporto continuo.">

<link rel="canonical" href="https://adblockplus.org/donate">



    
<meta property="og:image" content="/img/adblockplus_promo.png">
<meta property="og:title" content="Fai una donazione ad Adblock Plus">

  <meta property="og:description" content="Adblock Plus è un software gratuito e sostenuto dalla comunità, e questo senza il vostro supporto continuo.">

<meta property="og:locale" content="it_IT">

  
    <meta property="og:locale:alternate" content="ar_AR">
  

  
    <meta property="og:locale:alternate" content="de_DE">
  

  
    <meta property="og:locale:alternate" content="el_GR">
  

  
    <meta property="og:locale:alternate" content="en_US">
  

  
    <meta property="og:locale:alternate" content="es_ES">
  

  
    <meta property="og:locale:alternate" content="fr_FR">
  

  
    <meta property="og:locale:alternate" content="hu_HU">
  

  

  
    <meta property="og:locale:alternate" content="ja_JP">
  

  
    <meta property="og:locale:alternate" content="ko_KR">
  

  
    <meta property="og:locale:alternate" content="nl_NL">
  

  
    <meta property="og:locale:alternate" content="pl_PL">
  

  
    <meta property="og:locale:alternate" content="pt_BR">
  

  
    <meta property="og:locale:alternate" content="ru_RU">
  

  
    <meta property="og:locale:alternate" content="tr_TR">
  

  
    <meta property="og:locale:alternate" content="zh_CN">
  

<meta property="og:url" content="https://adblockplus.org/it/donate">


<meta name="twitter:site" content="@AdblockPlus">
<meta name="twitter:creator" content="@AdblockPlus">
    
  <link rel="stylesheet" href="/css/defaults.css?2992046730">
  <link rel="stylesheet" href="/css/fonts.css?2992046730">
  <link rel="stylesheet" href="/css/main.css?2992046730">
  <link rel="stylesheet" href="/css/cookies.css?2992046730">





    <script>
  window.eyeo = {
    
    
    
    preventCookiePrompt: false,
    userTesting: false,
    userTestingVariants: false,
    testAnalytics: false,
    testOptimize: false
  }

  window.console = window.console || {warn: function(){}};
</script>
    
    <!--[if IE 9]>
  <script src="/js/vendor/es5-shim.js?1786228731"></script>
  <script src="/js/vendor/dom4.js?1786228731"></script>
<![endif]-->

    
      
  <style>
    .mt3 { margin-top: 3rem; }
  </style>
  <link rel="stylesheet" href="/css/payment/form.css?2992046730">
  <link rel="stylesheet" href="/css/payment/stripe-modal.css?2992046730">

    
  </head>

  <body>
    



<nav id="navbar">
  <div class="container">
    <a href="/it/" hreflang="it" id="navbar-logo">
      <img
        src="/img/navbar-logo.svg?272501907"
        alt="">
      <span>Adblock <strong>Plus</strong></span>
    </a>
    <a href="#" id="navbar-menu-toggle">
      <img
        src="/img/menu-toggle.svg?272501907"
        alt="">
    </a>
    <ul id="navbar-menu">
      
        <li class="uppercase ">
          <a href="/it/download" hreflang="it">Scarica</a>
        </li>
      
        <li class="uppercase ">
          <a href="/en/about" hreflang="en">Informazioni</a>
        </li>
      
      <li class="uppercase">
        <a href="https://help.eyeo.com" target="_blank">Guida</a>
      </li>
      <li class="uppercase active">
        <a href="/it/donate" hreflang="it">Fai una donazione</a>
      </li>
      <li id="navbar-locale-menubar">
        <a id="navbar-locale-selected">
          Italiano (IT)
        </a>
        <ul id="navbar-locale-menu">
          
            <li>
              <a href="/ar/donate" hreflang="ar">
                العربية (AR)
              </a>
            </li>
          
            <li>
              <a href="/de/donate" hreflang="de">
                Deutsch (DE)
              </a>
            </li>
          
            <li>
              <a href="/el/donate" hreflang="el">
                Ελληνικά (GR)
              </a>
            </li>
          
            <li>
              <a href="/en/donate" hreflang="en">
                English (US)
              </a>
            </li>
          
            <li>
              <a href="/es/donate" hreflang="es">
                Español (España) (ES)
              </a>
            </li>
          
            <li>
              <a href="/fr/donate" hreflang="fr">
                Français (FR)
              </a>
            </li>
          
            <li>
              <a href="/hu/donate" hreflang="hu">
                Magyar (HU)
              </a>
            </li>
          
            <li>
              <a href="/it/donate" hreflang="it">
                Italiano (IT)
              </a>
            </li>
          
            <li>
              <a href="/ja/donate" hreflang="ja">
                日本語 (JP)
              </a>
            </li>
          
            <li>
              <a href="/ko/donate" hreflang="ko">
                한국어 (KR)
              </a>
            </li>
          
            <li>
              <a href="/nl/donate" hreflang="nl">
                Nederlands (NL)
              </a>
            </li>
          
            <li>
              <a href="/pl/donate" hreflang="pl">
                Polski (PL)
              </a>
            </li>
          
            <li>
              <a href="/pt_BR/donate" hreflang="pt-BR">
                Português (Brasil) (BR)
              </a>
            </li>
          
            <li>
              <a href="/ru/donate" hreflang="ru">
                Русский (RU)
              </a>
            </li>
          
            <li>
              <a href="/tr/donate" hreflang="tr">
                Türkçe (TR)
              </a>
            </li>
          
            <li>
              <a href="/zh_CN/donate" hreflang="zh-CN">
                中文(简体) (CN)
              </a>
            </li>
          
        </ul>
      </li>
    </ul>
  </div>
</nav>



    <div id="content" class="container content False">
      
        <h1>Fai una donazione ad Adblock Plus</h1>
      

      
        

        
        
      

      
        




<p>
  Adblock Plus è, e lo sarà sempre, gratuito! Il nostro obiettivo è di  offrire agli utenti degli strumenti che gli consentano di assumere il controllo della loro esplorazione online e li proteggano da elementi indesiderati e dannosi. La tua donazione aiuta direttamente lo sviluppo di Adblock Plus.
</p>

<form>

  <header class="donation-header">
    <h2 class="donation-heading">
      <span class="single-currency">Indica un importo equo (in <span class="currency">USD</span>)</span>
      <span class="multi-currency">Indica un importo equo:</span>
    </h2>
    <select
      id="payment-currencies"
      class="payment-currencies"
      name="payment-currency">
    </select>
  </header>

  <script id="payment-currency-options" type="text/html">
    <% _.each (currencies, function (currency, name) {  %>
    <option value="<%- name %>"><%- name %></option>
    <% }) %>
  </script>

  <div class="payment-types">

    <fieldset class="payment-type">
      <legend>
        Fai una donazione <strong>unica</strong>:
      </legend>
      <div id="donation-amounts"></div>
    </fieldset>

    <hr class="payment-divide">

    <fieldset class="subscription-payment-type payment-type">
      <legend>
        O una donazione <strong>mensile</strong>:
      </legend>
      <div id="subscription-amounts"></div>
    </fieldset>

  </div>

  <script id="preset-payment-amounts" type="text/html">
    <% _.each (amounts, function(amount, index) { %>
    <% if (index == 0) { %>
    <div class="payment-amounts">
      <% } %>
      <% if (index % 3 == 0) { %>
    </div>
    <div class="payment-amounts">
      <% } %>
      <label class="payment-amount">
        <input
          type="radio"
          name="preset-<%- type %>-amount"
          value="<%- amount %>"
        <% if (type == "donation" && index == 3) { %>
        checked
        <% } %>>
        <%- sign %><%- amount %>
      </label>
      <% }) %>
  </script>

  <script id="custom-payment-amount" type="text/html">
    <div class="custom-payment-amount payment-amount">
      <input
        type="radio"
        name="preset-<%- type %>-amount"
        value="custom">
      <%- sign %>
      <input
        type="text"
        size="4"
        inputmode="numeric"
        spellcheck="false"
        name="custom-<%- type %>-amount"
        placeholder="<%- placeholder %>">
    </div>
    </div>
  </script>

  <p class="alert minimum-amount-warning minimum-donation-warning">
    Ops! Per contribuire a coprire le spese, l&#39;importo minimo della donazione unica è di <span class="minimum-amount">$5</span>.
  </p>

  <p class="alert minimum-amount-warning minimum-subscription-warning">
    Ops! Per contribuire a coprire le spese, l&#39;importo minimo della donazione mensile è di <span class="minimum-amount">$1.99</span>.
  </p>

  <div id="payment-providers" class="payment-providers">
    <span class="payment-providers-lead">
      Paga con:
    </span>
    
  <button name="stripe-provider" class="stripe-button">
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAgCAMAAAA2a+hwAAAAkFBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////+WABnwAAAAL3RSTlMAzZyBdvq8GATRpxT28+7nlpR0aGBXQzYkEODa1cewiWQ6LiYhs6KQhm1PSiwKB+gORwEAAADhSURBVCjPjdDXcoMwFIThNUGI3sHgFsd2etn3f7vInsRICSeT/0o73wVnwL8L9TAK0gaK5Ko6/bZhw6+U/9OOOam2cRkUhm9dCyMy1pdnl5MvDrbGvt9LxY2DC6b6Okqyt2wkd9O6c7/ak751gGJgYUe21iwYXQ948rZk4E1lzLyqTowNivMVGthTag/U9s7scQP406pGLNcCXu5/E7DBudUsmmH6SOcxejfYSQfFwCGX8P780yV8BLSIzwBSCV8NRhIeDe4k1EmSlA42lGqAXsQDEK4Fe4Dp5C1mCuoQf/YJ53pWFjMAQFMAAAAASUVORK5CYII="
      width="18" height="16" class="stripe-button-lock" alt="">
    <span class="stripe-button-text">
      Carta di credito
    </span>
  </button>

    
  <button name="paypal-provider" class="paypal-button">
    PayPal
  </button>

  </div>

</form>

<script id="payment-translations">
  window.paymentTranslations = {
    item: "Contributo ad Adblock Plus",
    donate: "Dona",
    subscribe: "Dona",
    month: "al mese",
    year: "al mese",
    declined: "Il tuo pagamento è stato rifiutato.",
    sorry: "Purtroppo non è stato possibile elaborare il tuo pagamento.",
    securelyProcessed: "Elaborazione sicura tramite Stripe.com",
    notSupported: "Sorry, this card type is not accepted currently.",
    emailAddress: "E-mail"
  };
</script>



<script src="/js/payment/payment-form.min.js?1786228731"></script>

















  <script>
    (function(win) {
      var dev = win.location.hostname == 'localhost';

      var key = dev
        ? 'pk_test_qZJPIgNMdOMferLFulcfPvXO007x2ggldN'
        : 'pk_live_Nlfxy49RuJeHqF1XOAtUPUXg00fH7wpfXs';

      var url = dev
        ? 'https://staging-new-integration-adblockplus-org-1.uplink.eyeo.it/'
        : 'https://new-integration.adblockplus.org/';

      win.stripeProvider =
        initStripeProvider(key, url, paymentTranslations);
    })(window);
  </script>

<script src="/js/payment/controller.js?1786228731"></script>



<footer class="mt3">
  <p>
    <small>Puoi richiedere un rimborso entro 120 giorni dal pagamento. Puoi anche annullare la tua donazione ricorrente in qualunque momento. Invia un&#39;email a <a data-mask="{&quot;href&quot;: &quot;bWFpbHRvOmRvbmF0aW9uc0BhZGJsb2NrcGx1cy5vcmc=&quot;, &quot;textContent&quot;: &quot;ZG9uYXRpb25zQGFkYmxvY2twbHVzLm9yZw==&quot;}">support@adblockplus.org</a> indicando il tuo indirizzo email, la data, l&#39;importo della donazione e il codice dell&#39;operazione. Scopri di più sui rimborsi nel nostro <a href="https://help.eyeo.com/en/adblockplus/donations">articolo del Centro assistenza</a> (solo in inglese).</small>
  </p>
</footer>

<script src="/js/address-masking.js?1786228731"></script>

      
    </div>

    

<footer id="footer" class="content">
  <div class="container">
    <div class="row">
      <nav class="column one-fourth">
        <h5 class="footer-heading">Scarica</h5>
        <ul>
          <li><a href="/en/adblock-plus-chrome" hreflang="en">Adblock Plus per Chrome</a></li>
          <li><a href="/en/adblock-plus-firefox" hreflang="en">Adblock Plus per Firefox</a></li>
          <li><a href="/en/ad-blocker-safari" hreflang="en">Adblock Plus per Safari</a></li>
          <li><a href="/en/adblock-plus-opera" hreflang="en">Adblock Plus per Opera</a></li>
          <li><a href="/en/adblock-plus-edge" hreflang="en">Adblock Plus for Edge</a></li>
          <li><a href="/en/android-install" hreflang="en">Adblock Browser for Android</a></li>
        </ul>
      </nav>
      <nav class="column one-fourth">
        <h5 class="footer-heading">Risorse</h5>
        <ul>
          
            <li><a href="/en/acceptable-ads" hreflang="en">Annunci Accettabili</a></li>
          
            <li><a href="/en/documentation" hreflang="en">Documentazione</a></li>
          
            <li><a href="/en/deployments" hreflang="en">Per gli amministratori</a></li>
          
            <li><a href="/en/bugs" hreflang="en">Segnala un problema</a></li>
          
          
          <li><a href="https://help.eyeo.com/en/adblockplus/how-to-write-filters" target="_blank" hreflang="en">Scrittura di filtri Adblock Plus</a></li>
        </ul>
      </nav>
      <nav class="column one-fourth">
        <h5 class="footer-heading">Comunità</h5>
        <ul>
          <li><a href="/en/contribute" hreflang="en">Contribuisci</a></li>
          <li><a href="https://adblockplus.org/releases/" hreflang="en">Annunci</a></li>
          <li><a href="https://adblockplus.org/blog/" hreflang="en">Blog</a></li>
          <li><a href="https://adblockplus.org/forum/" hreflang="en">Forum</a></li>
        </ul>
      </nav>
      <nav class="column one-fourth">
        <h5 class="footer-heading">Sviluppo</h5>
        <ul>
          <li><a href="https://gitlab.com/eyeo/adblockplus">Codice origine</a></li>
          
  
    <li><a href="/en/tools" hreflang="en">Strumenti</a></li>
  

          <li><a href="https://eyeo.com/jobs/" hreflang="en">Opportunità di lavoro</a></li>
          <li><a href="/en/partner-integrations" hreflang="en">Partner Integrations</a></li>
        </ul>
      </nav>

      <nav id="social-list" class="column">
        <h5 class="footer-social-heading">Seguici su</h5>
        <ul>
          <li>
            <a
              href="https://twitter.com/AdblockPlus"
              title="Segui Adblock Plus su Twitter"
              target="_blank" rel="nofollow noopener">
              <img
                src="/img/footer-twitter-glyphicon.png?272501907"
                alt="Logo Twitter">
            </a>
          </li>
          <li>
            <a
              href="https://www.youtube.com/user/AdblockPlusOfficial"
              title="Segui Adblock Plus su YouTube"
              target="_blank" rel="nofollow noopener">
              <img
                src="/img/footer-youtube-glyphicon.png?272501907"
                alt="Logo YouTube">
            </a>
          </li>
          <li>
            <a
              href="https://www.facebook.com/adblockplus"
              title="Segui Adblock Plus su Facebook"
              target="_blank" rel="nofollow noopener">
              <img
                src="/img/footer-facebook-glyphicon.png?272501907"
                alt="Logo Facebook">
            </a>
          </li>
          <li>
            <a
              href="https://www.instagram.com/adblockplus/"
              title="Segui Adblock Plus su Instagram"
              target="_blank" rel="nofollow noopener">
              <img
                src="/img/footer-instagram-glyphicon.png?272501907"
                alt="Logo Instagram">
            </a>
          </li>
          <li>
            <a
              href="https://vk.com/adblockplusofficial"
              title="Segui Adblock Plus su VK"
              target="_blank" rel="nofollow noopener">
              <img
                src="/img/footer-vk-glyphicon.png?272501907"
                alt="Logo VK">
            </a>
          </li>
        </ul>
      </nav>
    </div> 

    <div id="footer-legal">
      <p id="copyright-notice">Copyright © 2020 Tutti i diritti riservati. Adblock Plus<sup>®</sup> è un marchio registrato di <a href="https://eyeo.com">eyeo GmbH</a>.</p>
      <ul id="legal-list">
        
          
            <li><a href="/en/terms" hreflang="en">Condizioni d&#39;uso</a></li>
          
            <li><a href="/en/privacy" hreflang="en">Informativa sulla privacy</a></li>
          
            <li><a href="/en/imprint" hreflang="en">Stampa</a></li>
          
        
      </ul>
    </div> 
  </div> 
</footer> 
    <div id="cookiebar" class="cookie cookiebar">
  <div class="container">
    <div class="row">

      <div class="column two-thirds">
        <p class="cookiebar-text">
          <svg viewBox="0 0 37.796 41.279" width="38" height="42">
            <title>Notifica sui cookie</title>
            <g transform="translate(-14.904 0)">
              <g transform="translate(14.904 0)">
                <path d="M52.468,31.165a6.029,6.029,0,0,1-1.514-4.908.935.935,0,0,0-.626-1.019,6.029,6.029,0,0,1-3.244-8.8A.935.935,0,0,0,47,15.368a6.039,6.039,0,0,1-1.112-5.609A.935.935,0,0,0,45.4,8.647,6.029,6.029,0,0,1,42.129,2.01.935.935,0,0,0,41.484.935a20.682,20.682,0,1,0,11.049,31.38A.935.935,0,0,0,52.468,31.165Zm-3.739,2.814A18.759,18.759,0,1,1,40.148,2.524,7.9,7.9,0,0,0,43.887,10a7.889,7.889,0,0,0,1.281,6.029A7.917,7.917,0,0,0,46.682,25.1a7.823,7.823,0,0,0,2.346,1.617,7.889,7.889,0,0,0,1.57,5.123A18.6,18.6,0,0,1,48.729,33.979Z" transform="translate(-14.904 0)"/>
              </g>
              <g transform="translate(24.556 12.199)">
                <circle cx="1.598" cy="1.598" r="1.598"/>
              </g>
              <g transform="translate(34.81 18.817)">
                <circle cx="1.598" cy="1.598" r="1.598"/>
              </g>
              <g transform="translate(33.212 32.212)">
                <circle cx="1.598" cy="1.598" r="1.598"/>
              </g>
              <g transform="translate(36.652 9.03)">
                <circle cx="1.047" cy="1.047" r="1.047"/>
              </g>
              <g transform="translate(23.509 25.912)">
                <circle cx="1.047" cy="1.047" r="1.047"/>
              </g>
              <g transform="translate(42.765 27.23)">
                <circle cx="1.047" cy="1.047" r="1.047"/>
              </g>
            </g>
          </svg>
          <span>
            Utilizziamo alcuni cookie per offriti un&#39;esperienza ottimale sul nostro sito web. Utilizzando il nostro sito sei consapevoli del fatto che stiamo utilizzando i cookie e puoi modificare questa scelta in qualsiasi momento. <a href="/it/cookie-information" hreflang="it">Scopri di più</a>
          </span>
        </p>
      </div>

      <div class="column one-third text-end">
        <ul class="cookiebar-nav">
          <li>
            <button
              type="button"
              class="cookies-submit button"
              title="Ignora la notifica sui cookie">
              Ok, ho capito
            </button>
          </li>
          <li class="dropup cookies-dropup">
            <button
              type="button"
              class="cookies-settings button"
              title="Modifica le impostazioni cookie">
              Impostazioni &nbsp;
              <svg viewBox="0 0 16.509 16.993" width="18" height="18">
                <title>Icona impostazioni</title>
                <path d="M175.051,8.283V.478a.478.478,0,1,0-.955,0v7.8a2.425,2.425,0,0,0,0,4.755v3.474a.478.478,0,1,0,.955,0V13.038a2.425,2.425,0,0,0,0-4.755Zm-.478,3.846a1.468,1.468,0,1,1,1.468-1.468A1.469,1.469,0,0,1,174.574,12.129Z" transform="translate(-166.302 0)"/>
                <path d="M9.751,4.278V.478a.478.478,0,0,0-.955,0v3.8a2.425,2.425,0,0,0,0,4.755v7.479a.478.478,0,0,0,.955,0V9.029a2.423,2.423,0,0,0,0-4.752ZM9.274,8.123a1.468,1.468,0,1,1,1.468-1.468A1.469,1.469,0,0,1,9.274,8.123Z" transform="translate(-6.85 0)"/>
                <path d="M339.351,4.278V.478a.478.478,0,0,0-.955,0v3.8a2.425,2.425,0,0,0,0,4.755v7.483a.478.478,0,0,0,.955,0V9.029a2.423,2.423,0,0,0,0-4.752Zm-.478,3.846a1.468,1.468,0,1,1,1.468-1.468A1.469,1.469,0,0,1,338.874,8.123Z" transform="translate(-324.789 0)"/>
              </svg>
            </button>
            <div class="cookies-dropup-menu text-start" tabindex="1">
               <div class="cookies-settings-form">

  <div class="cookies-setting row">
    <div class="column three-fourths">
      <p class="cookies-setting-title">Cookie necessari</p>
      <p>Utilizzati per ricordare le tue preferenze sulla privacy. Non si possono disattivare.</p>
    </div>
    <div class="column one-fourth text-end">
      <label class="switch">
        <input type="checkbox" checked disabled>
        <span></span>
      </label>
    </div>
  </div>

  <div class="cookies-setting row">
    <div class="column three-fourths">
      <p class="cookies-setting-title">Cookie di tracciamento</p>
      <p>Li utilizziamo per analizzare il traffico sul sito.</p>
    </div>
    <div class="column one-fourth text-end">
      <label class="switch">
        <input class="tracking-cookies" type="checkbox" checked>
        <span></span>
      </label>
    </div>
  </div>

  <div class="cookies-setting row">
    <div class="column three-fourths">
      <p class="cookies-setting-title">Cookie per test A/B</p>
      <p>Utilizziamo questi cookie Google Optimize per eseguire test A/B sulla base dei dati analitici.</p>
    </div>
    <div class="column one-fourth text-end">
      <label class="switch">
        <input class="testing-cookies" type="checkbox" checked>
        <span></span>
      </label>
    </div>
  </div>

  <button
    type="button"
    class="link-button cookies-save"
    title="Salva le preferenze cookie">
    Salva preferenze
  </button>

  <span class="arrow"></span>

</div><!-- .cookies-settings-form -->
              <span class="arrow"></span>
            </div>
          </li>
        </ul>
      </div><!-- .column -->
    </div><!-- .row -->
  </div><!-- .container -->

</div><!-- #cookies-large-bar -->
  <form class="cookie cookieprompt">

  <fieldset class="container">

    <legend class="cookie-heading">
      Preferenze cookie
    </legend>

    <button
      type="button"
      class="cookies-close"
      title="Ignora la notifica sui cookie">
      <svg viewBox="0 0 23.313 23.313" width="15" height="15">
        <title>Icona chiudi</title>
        <path fill="#fff" class="a" d="M21.763,23.044C19.816,21.1,15.74,17.021,11.656,12.936L1.548,23.044a.9.9,0,0,1-1.279,0,.893.893,0,0,1,0-1.278c1.947-1.948,6.023-6.025,10.108-10.11L.269,1.547a.893.893,0,0,1,0-1.278.9.9,0,0,1,1.279,0L11.655,10.377,21.763.269a.905.905,0,0,1,1.283,1.278L12.935,11.657l10.11,10.11a.908.908,0,0,1-.64,1.547A.909.909,0,0,1,21.763,23.044Z"/>
      </svg>
    </button>

    <p>
      Utilizziamo alcuni cookie per offriti un&#39;esperienza ottimale sul nostro sito web.
      <a
        href="/it/cookie-information" hreflang="it"
        title="Ulteriori informazioni sui cookie"
        target="_blank">Maggiori informazioni</a>
    </p>

    <p>
      <button
        type="button"
        class="cookies-submit"
        title="Ignora la notifica sui cookie">
        Ok, ho capito
      </button>
    </p>

    <p>
      <button
        type="button"
        class="cookies-settings"
        title="Modifica le impostazioni cookie">
        Cambia impostazioni
      </button>
    </p>

  </fieldset>

</form>
  <form class="cookie cookiepage">

  <header class="bg-dark">
    <div class="container">

      <h4 class="cookie-heading">
        Preferenze cookie
      </h4>

      <button
        type="button"
        class="cookies-close"
        title="Ignora la notifica sui cookie">
        <svg viewBox="0 0 23.313 23.313" width="15" height="15">
          <title>Icona chiudi</title>
          <path fill="#fff" class="a" d="M21.763,23.044C19.816,21.1,15.74,17.021,11.656,12.936L1.548,23.044a.9.9,0,0,1-1.279,0,.893.893,0,0,1,0-1.278c1.947-1.948,6.023-6.025,10.108-10.11L.269,1.547a.893.893,0,0,1,0-1.278.9.9,0,0,1,1.279,0L11.655,10.377,21.763.269a.905.905,0,0,1,1.283,1.278L12.935,11.657l10.11,10.11a.908.908,0,0,1-.64,1.547A.909.909,0,0,1,21.763,23.044Z"/>
        </svg>
      </button>

    </div>
  </header>

  <div class="bg-light">
    <div class="container section">
        Utilizziamo alcuni cookie per offriti un&#39;esperienza ottimale sul nostro sito web. Utilizzando il nostro sito sei consapevoli del fatto che stiamo utilizzando i cookie e puoi modificare questa scelta in qualsiasi momento. <a href="/it/cookie-information" hreflang="it">Scopri di più</a>
    </div>
  </div>

  <div class="container section">
     <div class="cookies-settings-form">

  <div class="cookies-setting row">
    <div class="column three-fourths">
      <p class="cookies-setting-title">Cookie necessari</p>
      <p>Utilizzati per ricordare le tue preferenze sulla privacy. Non si possono disattivare.</p>
    </div>
    <div class="column one-fourth text-end">
      <label class="switch">
        <input type="checkbox" checked disabled>
        <span></span>
      </label>
    </div>
  </div>

  <div class="cookies-setting row">
    <div class="column three-fourths">
      <p class="cookies-setting-title">Cookie di tracciamento</p>
      <p>Li utilizziamo per analizzare il traffico sul sito.</p>
    </div>
    <div class="column one-fourth text-end">
      <label class="switch">
        <input class="tracking-cookies" type="checkbox" checked>
        <span></span>
      </label>
    </div>
  </div>

  <div class="cookies-setting row">
    <div class="column three-fourths">
      <p class="cookies-setting-title">Cookie per test A/B</p>
      <p>Utilizziamo questi cookie Google Optimize per eseguire test A/B sulla base dei dati analitici.</p>
    </div>
    <div class="column one-fourth text-end">
      <label class="switch">
        <input class="testing-cookies" type="checkbox" checked>
        <span></span>
      </label>
    </div>
  </div>

  <button
    type="button"
    class="link-button cookies-save"
    title="Salva le preferenze cookie">
    Salva preferenze
  </button>

  <span class="arrow"></span>

</div><!-- .cookies-settings-form -->
  </div>

</form>
    <script src="/js/testing/setup.js?1786228731"></script>
    
  <script src="/js/main.js?1786228731"></script>



  </body>
</html>